body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header{
    display: flex;
    flex-direction: column;
    background:#1F2937;
    color: white;
    padding-bottom: 60px;
    
      
}

.top{
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.logo{
    color:#F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul{
    gap: 18px;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

.content{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.hero{
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
    max-width: 300px;
}

.hero-text{
    font-size: 18px;
    color:#E5E7EB;
    max-width: 400px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 12px;
}

.info-header{
    padding-top: 8px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-bottom: 12px;
}



.infos{
    gap: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 200px;
}

.cards{
    padding-top: 8px;
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.quote-text{

}

.button1{
    padding: 6px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    width:90px;
    background: #3882F6;
    color: white;
    

}

.quote{
    display: flex;
    flex: 1;
    background:#E5E7EB ;
}


.sign-up{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
 
}

.card{
    padding: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    color: white;
    background: #3882F6;
    flex-basis: 0;
    width: 1000px;
   height: 60px;
    

}

.footer{
    display: flex;
    background:#1F2937;
    padding: 24px;
    color: white;
    align-items: center;
    justify-content: center;

}

.button2{
    border-radius: 8px;
    border-color: white;
    width:120px;

}

.header-down{
    font-weight: bold;
}

.left{
    padding-left: 700px;
    display: flex;
    flex-direction: column;
}
.right{
    padding-right: 700px;
    display: flex;
    flex-direction: column;
}

.image{
    display: flex;
   width: 480px;
}